html,
body {
  min-height: 100vh;
}

#calculator {
  position: relative;
  margin: 0 auto;
  width: 300px;
}

#calculator .sidenav-trigger {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 4px;
  top: 4px;
}

#calculator .btn {
  width: 100%;
  height: 100%;
}

#screen .card-panel {
  font-size: 150%;
  box-shadow: inset 1px 1px 8px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 2px #ff8a80;
}

#operator {
  vertical-align: middle;
}

.calculer-row {
  margin-bottom: 10px !important;
}

.calculer-col {
  padding: 0 0.3rem !important;
}

.menu-modal {
  width: 90% !important;
}

#settings-nav {
  padding: 0 !important;
  height: calc(100% - 56px) !important;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 14%), 0 0 1px -2px rgb(0 0 0 / 12%),
    0 0 5px 0 rgb(0 0 0 / 20%);
}

@media only screen and (max-device-width: 992px) {
  * {
    touch-action: manipulation;
  }

  #calculator button {
    font-size: 160% !important;
    border-radius: 7% !important;
  }

  #screen {
    font-size: 185% !important;
  }

  #calculator {
    width: 100% !important;
    height: 100% !important;
  }

  #adjustment-line-break {
    display: none;
  }

  #screen {
    height: 40%;
  }

  #screen > .col > .card-panel {
    height: calc(100% - 21px);
    border-radius: 6% !important;
  }

  li:has(#settings-menu-item) {
    display: none;
  }

  .calculer-row {
    height: 8.4%;
    margin-bottom: 10%;
  }

  .calculer-row > .col {
    height: 100%;
    padding: 0 0.5rem !important;
  }
}
